HelpDeskBot.json
{
  "name": "HelpDeskBot Corregido V2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        0
      ],
      "id": "cefa32de-80ed-4ad0-b918-605086a99b3a",
      "name": "Telegram Trigger",
      "webhookId": "ff2c3712-b4a3-487c-ac3c-bb51a0064392",
      "credentials": {
        "telegramApi": {
          "id": "d4tNOpHsU3uLJfn5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017008014,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1017008014"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.message.from.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        0
      ],
      "id": "9158a7ec-09e9-4190-a018-7874747549f5",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017008014,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1017008014"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "rol": "usuario",
            "nombre": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "activo": "si"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -48
      ],
      "id": "159c8a7a-1b7a-48ac-9f8e-ce79f834b136",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e41697a-6d68-42e8-a0e1-13e527aef068",
              "leftValue": "={{ $json.telegram_user }}",
              "rightValue": "={{ $json.telegram_user }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        0
      ],
      "id": "4bae990c-8ea2-4cc1-b992-99bba9aa55ff",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b765d009-0270-4f39-a770-e4c778fb7e23"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b2350ea-d006-41a0-a6ac-5ae91032b857",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f1722f8-d021-4a0a-90fe-153e7f47ba37",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "572cfae3-6f2a-43f6-8e07-12cbcc2db7d4",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2721532d-d653-469c-a23b-85502ea7ad5f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f32996f-19ac-4623-8fa9-9d68cbd398ba",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f9d7723-e786-4da6-994d-59d02ef87d5f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1424,
        128
      ],
      "id": "6eea10d6-7647-479c-89d7-58446a9e7761",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}, soy *HelpDeskBot* 👋\n\nEstoy para ayudarte a gestionar solicitudes de soporte de forma rápida y ordenada. Si en algún momento necesitas orientación, escribe *0* para ver la opción de ayuda.\n\nPor favor escribe el número de la opción que quieras usar.\n\n*Menú principal:*  \n0. Ayuda  \n1. Crear solicitud  \n2. Consultar estado de solicitud  \n3. Mis solicitudes  \n4. Reportes  \n5. Configuración\n6. Terminar",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        1072
      ],
      "id": "88bc6fbc-65b0-467b-8bce-f544ffa6be1b",
      "name": "Send a text message",
      "webhookId": "e2c66d6f-1536-4f1b-add4-e560d03b29b2",
      "credentials": {
        "telegramApi": {
          "id": "d4tNOpHsU3uLJfn5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}, soy *HelpDeskBot* 👋\n\n¡Bienvenido! Veo que es tu primera vez aquí.\n\nEstoy para ayudarte a gestionar solicitudes de soporte de forma rápida y ordenada. Si en algún momento necesitas orientación, escribe *0* para ver la opción de ayuda.\n\nPor favor escribe el número de la opción que quieras usar.\n\n*Menú principal:*  \n0. Ayuda  \n1. Crear solicitud  \n2. Consultar estado de solicitud  \n3. Mis solicitudes  \n4. Reportes  \n5. Configuración\n6. Terminar",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -48
      ],
      "id": "46ef3d7f-d878-436f-9386-4cc7b87d2c01",
      "name": "Send a text message1",
      "webhookId": "e2c66d6f-1536-4f1b-add4-e560d03b29b2",
      "credentials": {
        "telegramApi": {
          "id": "d4tNOpHsU3uLJfn5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1932568161,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1932568161"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ DateTime.fromSeconds($node[\"Telegram Trigger\"].json.message.date).setZone('America/Bogota').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "pantalla": "menu_principal"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3200,
        208
      ],
      "id": "160d1350-f4e5-438b-acee-b41d633d7268",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1932568161,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1932568161"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Get row(s) in sheet').item.json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        464
      ],
      "id": "488393ac-4a14-4c58-96b9-ca26f7dadf2a",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📝 **Tipo de solicitud**\n\nPor favor, selecciona el tipo de solicitud que deseas realizar:\n\n1. Soporte técnico  \n2. Solicitud administrativa  \n3. Consulta general  \n\n4. Cancelar",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        208
      ],
      "id": "8ebd1f0c-46af-4fbb-9fe2-9dcc43082806",
      "name": "Send a text message2",
      "webhookId": "e2c66d6f-1536-4f1b-add4-e560d03b29b2",
      "credentials": {
        "telegramApi": {
          "id": "d4tNOpHsU3uLJfn5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "560eb36f-b8b9-42cf-a3aa-64a155c8fc70",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.activo }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        288
      ],
      "id": "7fa85287-9503-4ca6-bdd2-16c643ab6cbc",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017008014,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1017008014"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activo": "si",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.username }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        176
      ],
      "id": "9f21882b-d129-4b89-ba91-a17e108bb66a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1932568161,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1beBWkaNxsZNbtMlue6G9JKXpUOSxmV-_gjEaiQEbbLU/edit#gid=1932568161"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "pantalla": "solicitud"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        208
      ],
      "id": "1098e706-5a72-496c-a919-ba1e0ab40b1a",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sk86YKBlNONAXAA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7511dad3-87b1-4b1d-a7df-70cb0d46c596",
              "leftValue": "={{ $json.pantalla }}",
              "rightValue": "menu_principal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        464
      ],
      "id": "94ad7755-0ef5-41ab-b2f7-bb377c4c74f1",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "solicitud",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "330e5fa5-b0df-4f7d-a127-4200187e9b29"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "solicitud_prioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "04c3ecfd-a0e1-4cf9-bc19-ae1d37eae2a5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "solicitud_descripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "91e2ca2c-0287-408b-afad-22fa9f7a2e13"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "solicitud_confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15ab323f-ab26-48b0-b12e-dab4b3748d6d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "consultar_intro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fc84fab5-59ed-4cba-b868-8cd82d4ff77d"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5d346516-3e6f-4b11-91fe-7abd9beb8da8",
      "name": "Switch Wizard Pantalla",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1600,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "895c16d4-b444-43ac-a0b3-45c2ec73fbd0",
              "leftValue": "={{ ['1','2','3','4'].includes($('Telegram Trigger').item.json.message.text) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68886176-5a6a-4d43-b85d-94dd8ab0b689",
      "name": "If Tipo Valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ *Opción no válida.*\n\nPor favor selecciona una opción correcta del menú:\n\n1. Soporte técnico  \n2. Solicitud administrativa  \n3. Consulta general  \n\n4. Cancelar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d96cd876-9e9b-4e6f-a0db-73807e34ea5f",
      "name": "Send Tipo Invalido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        592
      ],
      "webhookId": "224cdc7a-fc48-4c29-9731-935e0600e848",
      "credentials": {
        "telegramApi": {
          "id": "d4tNOpHsU3uLJfn5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "efe5d2f7-cbfc-4122-bb51-974ee4111384",
              "leftValue": "={{ $json.pantalla }}",
              "rightValue": "solicitud",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        736
      ],
      "id": "7e635743-08bc-4abd-a521-8f6de55dedbf",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.length > 0 ? [items[items.length - 1]] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        464
      ],
      "id": "cb140220-906b-4553-93e5-54c77ea346ba",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Wizard Pantalla": {
      "main": [
        [
          {
            "node": "If Tipo Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tipo Valido": {
      "main": [
        [],
        [
          {
            "node": "Send Tipo Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Switch Wizard Pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a8b087d-af8e-4988-8f85-92592e82ec7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aca3c7075be9e471044888b9c263e25dc82797ba52013e85ecb179b50bd0bdd8"
  },
  "id": "mG0mYEifETcYTE7u",
  "tags": []
}